<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 16px;
            text-align: center;
        }
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 24px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <title>Charlie - Admin Settings</title>
</head>
<body>
    <h1>Admin Settings</h1>

    <form action="/admin" method="post">
        <label for="spotify_client_id">Spotify App Client ID:</label>
        <input type="text" id="spotify_client_id" name="spotify_client_id" placeholder="{{results["spotify_client_id"]}}" />
        <br>
        <label for="spotify_client_secret">Spotify App Secret Key:</label>
        <input type="text" id="spotify_client_secret" name="spotify_client_secret" placeholder="{{results["spotify_client_secret"]}}" />
        <br>
        <label for="open_api_key">Open API Secret Key:</label>
        <input type="text" id="open_api_key" name="open_api_key" placeholder="{{results["open_api_key"]}}"/>
        <br>
        <input type="submit" value="Save" />
    </form>
</body>
</html>
