<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <h1></h1>
    <body>
        <div class="navbar">
            <div class="navbar-wrapper">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/integrations">Integrations</a>
                <a class="nav-link" href="/settings">Settings</a>
                <a class="nav-link" href="/admin">Admin Settings</a>        
            </div>
        </div>
    {% block content %}
    <!-- Default content; this will be overridden by child templates -->
    {% endblock %}


    </body>


</body>
</html>
