{% extends "base.html" %}


{% block title %}OpenCharlie - Integrations{% endblock %}


{% block content %}
    <p>Authorize your tools here.</p>

    <div class="tool">
        <a href="/auth/spotify">
            <img class="integrations-img" src="{{ url_for('static', filename='images/spotify.png') }}" alt="Spotify" />
        </a>
        <p>
            <input class="integrations-button" type = "button" value = "Authorize Spotify" onclick = "window.location.href = '/auth/spotify';" />
        </p>
    </div>
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/auth/spotify", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                console.log(xhr.responseText);
            }
        }

        xhr.send()
    </script>
{% endblock %}
