{% extends "base.html" %}
{% block title %}OpenCharlie - User Settings{% endblock %}
{% block content %}
    <h1>User Settings</h1>

    <form action="/settings" method="post">
        <label for="timezone">Choose your timezone:</label>
        <select id="timezone" name="timezone">
            {% for option in options["timezone"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data.timezone %} selected {% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="language">Language:</label>
        <select id="language" name="language">
            {% for option in options["language"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data.language %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="volume_levels">Number of Volume Levels:</label>
        <input type="number" id="volume_levels" name="volume_levels" min="1" max="24" value="{{placeholder_data["volume_levels"]}}"/>
        <br>
        <label for="music_integration">Music Integration:</label>
        <select id="music_integration" name="music_integration">
            {% for option in options["music_integration"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data.music_integration %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="transcription_integration">Transcription Integration:</label>
        <select id="transcription_integration" name="transcription_integration">
            {% for option in options["transcription_integration"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data["transcription_integration"] %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="wake_integration">Wake Word Integration:</label>
        <select id="wake_integration" name="wake_integration">
            {% for option in options["wake_integration"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data["wake_integration"] %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="wake_word">Wake Word:</label>
        <select id="wake_word" name="wake_word">
            {% for option in options["wake_word"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data["wake_word"] %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="tools_integration">Tools Integration:</label>
        <select id="tools_integration" name="tools_integration">
            {% for option in options["tools_integration"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data.tools_integration %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="voice_integration">Voice Integration:</label>
        <select id="voice_integration" name="voice_integration">
            {% for option in options["voice_integration"] %}
                <option value="{{ option["value"] }}" {% if option["value"] == placeholder_data.voice_integration %}selected{% endif %}>
                    {{ option["label"] }}
                </option>
            {% endfor %}
        </select>
        <br>        
        <input type="submit" value="Save" />
    </form>
{% endblock %}

